.grid_container1 {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: auto auto auto;
  gap: 10px 10px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.grid_container2 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: auto auto;
    gap: none;
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . .";
}