body {
    background: linear-gradient(#eeeeffb4, #a2a8e99c, #767fe6ee);
    
}
.main_block {
    display: flex;
    flex-direction: column;
}

.grid_container1 {
  display: grid;
  grid-template-columns: repeat(3, 420px) ;
  grid-template-rows: min-content min-content min-content;
  gap: 15px 15px;
  margin: 10px auto 20px auto;
}

#container1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
    align-items: stretch;
}

#container3 {
    grid-column-start: 3;
    grid-column-end: 3;
}

.grid_container2 {
    display: grid;
    grid-template-columns: 330px 330px 330px 330px;
    grid-template-rows: 50% 50%;
    gap: none;
    height: 900px;
    margin: 0 auto 20px auto;

}

div>img[src$=".jpg"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
}

.main_block div {
    opacity: 0.4;
}

.grid_container1 div:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
}

.grid_container2 div:hover {
    opacity: 1;
    transition: all 0.15s ease-in;
}